	
	<div class="margin"></div>

	<div class="medium-12 columns search">

	<h1>Welcome! - Seat Yourself</h1>

		<%= render 'layouts/search' %>

	</div>

</div>

 

<%= render 'layouts/supersized' %>





