<h1>Make a Reservations at <%= @restaurant.restaurant_name %></h1>

<br>

<%= image_tag(@restaurant.photo_url, :class => "img_preview") %>

<br><br>

<%= Reservation.capacity?(1, Date.yesterday, 1) %>

<%= link_to "Back to home", root_url %>