// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* Color Variables */

$tab-active: #dcdcc6;
$beige : $tab-active;
$tab:lighten($tab-active,10);
$search-btn: darken($tab-active,50);

/* Layout Variables */
$tab-width:10%;
$radius:10px;
$margin:10%;

.margin {
	margin-top:$margin - 5%!important;
}

.search-box--restaurant {
	.tabs dd, .tabs .tab-title {
		 
		 width:$tab-width + 30%!important;

				a {
				font-size:10px;
				font-weight: bold;
				}

				&.active a {
					background: $tab-active;
				}
		
		}
}

.restaurants_list img {
	width: 150px;
	height: 150px;

}

/* restaurants - sidebar */
.featured img {
	display:inline-block;
	margin: auto;
}

.reservation {
  border-radius: $radius;
}

.form {
	border-radius: $radius;
	border: 1px solid $beige;
}

.flash {
	color: #4c0000;
	font-weight: bold;
}

