/*
 * require supersized
 */

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';


body.welcome {
	
	background: #fcfcf4;	

		h1 {
		color: #7f0000;
		}

		.search {
		padding:5%;
		background: rgba(245,245,220,.5);
		position:absolute;
		top:0;
		left:0;

		
			.search-box--welcome {
				@extend .search-box;			

			}
			
		}/*end .search */
				

}/*end body.welcome */







