/*
 * require supersized
 */

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';



.margin {
	margin-top: $margin + 20%;
}

body.welcome {
	
	background: #fcfcf4;	


		.search {
		padding:5%;
		margin-top: 8%;
		background: rgba(245,245,220,.5);
	

		
			.search-box--welcome {
				@extend .search-box;

			}
			
		}/*end .search */
				

}/*end body.welcome */







