<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul class="right">
     <li><a href="#" data-reveal-id="contact_us">Contact Us!</a></li>
   
      <%= render 'layouts/navigation_links' %>

    </ul>
  </div>

  	<!-- modal -->

  	<div id="contact_us" class="reveal-modal medium" data-reveal>
		<%= render 'layouts/contact' %>
	</div>


</nav>
